
.desc{
    width:60%;


    margin: auto;

    background:transparent;
    padding:24px;

    border-radius: 8px;
}

.desc h1 {
    font-size:24px;

    margin-bottom:10%;

    text-align:center;
}

.desc p {
    margin-bottom:16px;

    text-align:justify;
    font-size: 16px;
}
.desc .env p{
    display:flex;
    flex-direction: column;

    text-align:left;
}
.cood{
    margin-top:8px;
}
.env{
    margin-top: 48px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.env p {
    font-size: 12px;
}
.env strong{
    margin-bottom: 8px;
    display: block;
}

#just,
#fund,
#met,
#ext{
    margin-top: 16px;
    border-bottom:1px solid var(--vermelho);
    cursor: pointer;

    align-items: center;
}
.dots{
    width: 10px;

    margin-right: 8px;

    transition: 0.4s;
}
.dots:hover{

    transform: scale(1.5);
}
#frs{
    text-align: center;

    margin-top: 12px;

    color: var(--vermelho);
}